body{
    margin: 0px;
    padding: 0px;
    background-color: rgba(181, 145, 152, 0.41);
}
section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: #eaf2ef;
}
header{
    background-color: aqua;
    text-align: center;
    font-size: 30px;
    border-radius: 50px;
}
header h1{
    margin: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
section:hover{
    background-color: aquamarine;
}
.btn{
    margin: 8px;
    padding: 8px;
    font-size: 14px;
    border-radius: 15px;
    cursor: pointer;
    background-color: antiquewhite;
    font-style: oblique;
}
.btn:hover{
    transform: scale(1.1);
}
footer{
    text-align: center;
}